<ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="columnMode"
  [headerHeight]="50"
  [rowHeight]="150"
  [scrollbarV]="true"
  [scrollbarH]="false"
  [reorderable]="false"
>
  <ngx-datatable-column name="Date Time" prop="dateTime" [flexGrow]="1.2">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <pre>{{ row.dateTime | gdt }}</pre>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Message"
    prop="message"
    [cellClass]="'message-cell'"
    [flexGrow]="4"
  >
    <ng-template let-row="row" ngx-datatable-cell-template>
      <pre (dblclick)="openMessageDetail(row.message)">{{ row.message }}</pre>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Response"
    prop="response"
    [cellClass]="'message-cell'"
    [flexGrow]="2"
  >
    <ng-template let-row="row" ngx-datatable-cell-template>
      <pre>{{ row.response }}</pre>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status" prop="messageStatus" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <pre>{{ row.messageStatus }}</pre>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer *ngIf="true">
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
    >
      <div style="padding: 5px 10px">
        <div>Rows: {{ rowCount }}</div>
      </div>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
<div class="info-panel">
  <span>Message Count: {{ getMessageCount() }}</span>
</div>
<div class="button-panel">
  <button
    mat-raised-button
    color="primary"
    [disabled]="canClearMessageList()"
    (click)="clearMessageList()"
  >
    Clear Messages
  </button>
</div>
