mat-dialog-content {
  height: 80%;
}

.template-frame {
  border: white solid 1px;
  height: 100%;

  .template-name {
    font-size: larger;
    line-height: 50px;
  }

  .template-description {
    font-size: medium;
    margin-left: 20px;
  }

  .template-button {
    float: right;
    margin: 5px;
  }

}

.dialog-button-panel {
  position: absolute;
  bottom: 0;
  right: 0;
}